{{ if and .IsPage (ne .Params.comment false) }}
    {{ template "_internal/disqus.html" . }}

    <!-- utteranc -->
    {{ if .Site.Params.utteranc.enable }}
    <div class="post bg-white">
      <script src="https://utteranc.es/client.js"
            repo= "{{ .Site.Params.utteranc.repo }}"
            issue-term="{{ .Site.Params.utteranc.issueTerm }}"
            theme="{{ .Site.Params.utteranc.theme }}"
            crossorigin="anonymous"
            async>
      </script>
    </div>
    {{ end }}
    <div class="post bg-white">
        <script src="https://giscus.app/client.js"
        data-repo="kaizenwang/blog"
        data-repo-id="R_kgDOIZQC7g"
        data-category="Announcements"
        data-category-id="DIC_kwDOIZQC7s4CSffN"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="light"
        data-lang="zh-CN"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
        </script>
    </div>
    <!--waline-->
    {{ if .Site.Params.waline.enable }}
    <div id="waline"></div>
    <script src="//cdn.jsdelivr.net/npm/@waline/client"></script>
    <script>
        Waline({
            el: '#waline',
            serverURL: '{{ .Site.Params.waline.serverURL }}',
            placeholder: '{{ .Site.Params.waline.placeholder }}',
        });
    </script>
    {{ end }}
{{- end }}
